<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center center jumbotron">
          <h1 class="mt-5">A Place to Have Fun!</h1>
          <p class="lead">Let's enjoy the parranda with some friends</p>
        </div>
    </div>
</div>
