<title>King's Cup</title>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">King's Cup</h1>
            <p class="lead">Click to shuffle and deal.</p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <p class="cards"></p>
                    </div>
                </div>
            </div><br />
            <button type="button" 
            class="btn btn-success" 
            id="drinkButt">Shuffle</button>
        </div>
    </div>
</div>
