<title>King's Cup</title>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center center jumbotron">
            <h1 class="mt-5">King's Cup</h1>
            <p class="lead"><%= t('kings') %></p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <p class="cards">
                            <%= image_tag("/assets/card_faces/img00.jpg", {:style => "height:400px;width:300px"}) %>
                        </p>
                    </div>
                </div>
            </div><br />
            <button type="button" 
            class="btn btn-success" 
            id="drinkButt">Deal</button>
        </div>
    </div>
</div>
