<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto text-center">
            <div class="center jumbotron" id="about">
                <p><%= t('about') %></p>
                <p><%= t('warning') %></p>
                <p><%= t('end') %><%= link_to "here.","https://github.com/osbaldo-esquivel/laParranda/issues" %></p>
            </div>
        </div>
    </div>
</div>
