<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto text-center">
            <div id="about">
                <br /><p><%= t('about') %></p>
                <p><%= t('warning') %></p>
                <p><%= t('end') %><a href="https://github.com/osbaldo-esquivel/laParranda/issues">here.</a></p>
            </div>
        </div>
    </div>
</div>
