/*
 *= require_tree .
 *= require_self
*/

html, body {
    height: 100%;
    position: relative;
    background-color: #91a3bb;
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
}

#main {
    height: 100%;
    padding-top: 60px;
}

nav {
    background-color: #0e1c2f;
    padding-bottom: 60px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.5em;
    letter-spacing: -1px;
}

.link {
    color: #91a3bb;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    font-weight: bold;
}

.link:hover {
    color: #772447;
    text-decoration: none;
}

.cards {
    height: 400px;
    width: 300px;
    
}

.main-container {
    padding-bottom: 80px;
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 100vh;
}

footer {
    height: 30px;
    background-color: #0e1c2f;
    color: #91a3bb;
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 767px) {
    footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

.butts {
    background-color: #0e1c2f;
    color: #91a3bb;
}

.butts:hover {
    background-color: #91a3bb;
    color: #0e1c2f;;
}

#minutes {
    width: 100px;
    margin: 0 auto;
}

#cheers {
    height: 3px;
    width: 6px;
}