<title>Power Hour</title>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center center jumbotron">
            <h1 class="mt-5"><%= t('power_hour') %></h1>
            <p class="lead"><%= t('power_hour_rules') %></p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn butts" 
                                onclick="getVal('60');">
                                Power Hour
                        </button>
                        <button class="btn butts" 
                                onclick="getVal('100');">
                                Century Club
                        </button>
                        <button class="btn butts" 
                                id="custom" 
                                onclick="var value = document.getElementById('minutes').value;getVal(value);">
                                Custom
                        </button>
                    </div>
                </div>
            </div><br />
            <div id="mins" style="display: none;">
                <input type="text" 
                       class="input form-control" 
                       id="minutes"
                       placeholder="mins">
                </input><br />
            </div>
            <button type="button" 
            class="btn butts" 
            id="drinkButt">Drink</button>
            <br /><br />
            <h1 id="counter"></h1>
            <h1 id="drinkFlash"></h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" 
                         id="cheers" 
                         style="display: none;">
                        <%= image_tag "/assets/beers-cheers.svg", {style: "height:60px;width:100px;"} %>
                    </div>
                </div>
            </div>
            <script src="/assets/count.js"></script>
        </div>
    </div>
</div>