<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center container-fluid">
                <%= t('copyright') %>
            </div>
        </div>
    </div>
</div>